<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) || screen.width <= 800){
            window.location ="https://enhabitlife.com/mobile.html";}</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <!-- All of our layout css styles -->
        <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" >
        @Styles.Render("~/Content/ThirdParty")
        <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet" />
        <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
        <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" >

        <!-- All of our layout javascript files -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        @Scripts.Render("~/Scripts/ThirdParty")
        <script src="~/Scripts/ThirdParty/pikaday.js"></script>
        <script src="~/Scripts/ThirdParty/pikaday.jquery.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?libraries=places" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js" type="text/javascript"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js' type="text/javascript"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.1.0/leaflet-pip.min.js' type="text/javascript"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js' type="text/javascript"></script>
        <script src="//www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>

        @Scripts.Render("~/Scripts/Common")
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="logo" href="/"><img src='/Images/EnhabitLogo_Beta.png' height="56" /></a>
                </div>
                <!--
            <div class="nav navbar-nav navbar-left" style="margin-left: 200px; margin-top: 6px;" >
                <a id="payment-btn" style="border-radius: 10px; font-weight: bold; font-size: medium; display: none;" class="btn btn-outline-inverse btn-sm" onclick="LoadModal(event, 'modal-content-payment', 'payment', 'Make Payment');">
                    <i class="fa fa-usd" style="margin-right: 5px;"></i>Pay Rent Now
                </a>
            </div>
            -->
                <div class="nav navbar-nav navbar-left" style="margin-left: 200px; margin-top: 6px;">
                    <a id="create-listing-btn" style="border-radius: 10px; font-weight: bold; font-size: medium;" class="btn btn-outline-inverse btn-sm" data-bind="click: $root.OpenPostListingModal">
                        Post Listing Now!
                    </a>
                </div>
                <div class="nav navbar-nav navbar-left" style="margin-left: 15px; margin-top: 6px;">
                    <a id="powerk-kiosk-btn" style="border-radius: 10px; font-weight: bold; font-size: medium;" class="btn btn-outline-inverse btn-sm" onclick="PowerKioskModal(event);">
                        Save Money on Energy Now!
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <a class="navbar-login-btn" style="display: block;" onclick="LoadModal(event, 'modal-content-login', 'login', 'Log In');">
                            <i class="fa fa-sign-in" style="margin-right: 5px;"></i>Log In
                        </a>
                        <!--I'm commenting this section out because it goes nowhere right now

                    <li class="account-nav">
                        <a href="javascript:void()">
                            Contact Us
                        </a>
                    </li>
                    <li class="account-nav">
                        <a href="javascript:void()">
                            About
                        </a>
                    </li>
                    -->
                        <li class="account-nav dropdown" style="display: none;">
                            <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">
                                Account
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/AnalyticsPortal.php"><i class="fa fa-bar-chart" style="margin-right: 5px;"></i>Analytics</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/UsersPortal.php"><i class="fa fa-users" style="margin-right: 5px;"></i>Users</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/ListingsPortal.php"><i class="fa fa-home" style="margin-right: 5px;"></i>Listings</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/PaymentsPortal.php"><i class="fa fa-usd" style="margin-right: 5px;"></i>Payments</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/RentersPortal.php"><i class="fa fa-users" style="margin-right: 5px;"></i>Renters</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/UniversitiesPortal.php"><i class="fa fa-bank" style="margin-right: 5px;"></i>Universities</a></li>
                                <li class="admin-nav" style="display: none;"><a style="cursor: pointer;" href="/PricingPortal.php"><i class="fa fa-money" style="margin-right: 5px;"></i>Pricing</a></li>
                                <li class="admin-nav"><a style="cursor: pointer;" href="/LogsPortal.php"><i class="fa fa-file-text" style="margin-right: 5px;"></i>Logs</a></li>
                                <li class="tenant-nav" style="display: none;"><a style="cursor: pointer;" href="/AccountPortal.php"><i class="fa fa-user" style="margin-right: 5px;"></i>Edit Account</a></li>
                                <li class="tenant-nav" style="display: none;"><a style="cursor: pointer;" href="/ListingsPortal.php"><i class="fa fa-home" style="margin-right: 5px;"></i>My Listing</a></li>
                                <li class='rental-nav' style='display: none;'><a style='cursor: pointer;' href='/PaymentsPortal.php'><i class='fa fa-usd' style='margin-right: 5px;'></i>My Payments</a></li>
                                <li class="landlord-nav" style="display: none;"><a style="cursor: pointer;" href="/AccountPortal.php"><i class="fa fa-user" style="margin-right: 5px;"></i>My Account</a></li>
                                <li class="landlord-nav" style="display: none;"><a style="cursor: pointer;" href="/ApplicantsPortal.php"><i class="fa fa-copy" style="margin-right: 5px;"></i>My Applicants</a></li>
                                <li class="landlord-nav" style="display: none;"><a style="cursor: pointer;" href="/ListingsPortal.php"><i class="fa fa-home" style="margin-right: 5px;"></i>My Listings</a></li>
                                <li class="landlord-nav" style="display: none;"><a style="cursor: pointer;" href="/EnergyPortal.php"><i class="fa fa-bolt" style="margin-right: 5px;"></i>Save on Energy</a></li>
                                <li class="landlord-nav" style="display: none;"><a style="cursor: pointer;" href="/RentersPortal.php"><i class="fa fa-users" style="margin-right: 5px;"></i>My Renters</a></li>
                                <li id="login-function" class="menu-item scroll" onclick="LogoutUser()">
                                    <a id="login" style="cursor: pointer;"><i class="fa fa-sign-out" style="margin-right: 5px;"></i>Log Out</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav>

        @RenderBody();
    </body>
</html>
